
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #111;
    line-height: 2;
    background: url("img/star.png");
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #222; 
}

.logo {
    font-size: 60px;
    font-weight: bold;
    color: rgb(34, 185, 178);
    animation: logoAnimation 3s infinite; 
}


@keyframes logoAnimation {
    0% {
        transform: scale(1);
        color: rgb(13, 238, 245);
    }
    50% {
        transform: scale(1.1);
        color: #19d9d6; 
    }
    100% {
        transform: scale(1);
        color: rgb(16, 166, 200);
    }
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 30px; 
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}

main {
    padding: 40px 60px; 
}

section {
    margin-bottom: 80px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 75px; 
    margin-bottom: 30px; 
}

h2 {
    font-size: 60px; 
    margin-bottom: 30px; 
}

p {
    font-size: 24px; 
    margin: 0 auto;
    max-width: 1000px; 
}


#about {
    text-align: center;
    padding: 20px;
}

.image-text {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
}

.profile {
    width: 300px; 
    height: auto;
    margin-bottom: 20px; 
    border-radius: 50%;
}

.text-content {
    max-width: 1000px; 
}


#skills {
    text-align: center;
    padding: 20px;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-icon {
    text-align: center;
    margin: 30px; 
    flex: 1 1 200px; 
}

.skill-icon img {
    width: 80px;
    height: auto;
}


#works {
    text-align: center;
    padding: 20px;
}

.work-items {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; 
}

.work-item {
    flex: 1 1 5%; 
    text-align: center;
    padding: 30px;
    background-color: rgb(59, 120, 120); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

.work-item img {
    width: 100%; 
    max-width: 300px; 
    height: auto;
}
#CONTACT {
    text-align: center;
    padding: 50px 20px;
    background-color: black;
}


#CONTACT h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #ffffff;
}
.icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;}


.icon-links a {
    margin: 0 15px;
    font-size: 5rem;
    color: #e6e2e2;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon-links a:hover {
    color: #0073b1; 
}

.icon-links a i {
    padding: 10px;
}

@media (max-width: 768px) {
    #CONTACT h1 {
        font-size: 2.5rem;
    }

    .icon-links a {
        font-size: 2rem;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    #CONTACT h1 {
        font-size: 2rem;
    }

    .icon-links a {
        font-size: 1.8rem;
        margin: 0 8px;
    }
}